/* Reset Elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

/* General Elements */
body {
  background: url("https://images.unsplash.com/photo-1496715976403-7e36dc43f17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dosis', sans-serif;
  height: 100vh;
  width: 100vw;
}

div {
  height: 100%;
  width: 100%;
}

h1,
h2,
span {
  font-weight: bold;
}

h1 {
  font-size: 50pt;
  text-align: center;
}

/* Class Elements */
.flexbox {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: solid 5px pink;
  height: 60vh;
  width: 60vw;
}

.scoreboard {
  color: pink;
  text-shadow: 6px 6px black;
  font-size: 30px;
  text-align: left;
  position: absolute;
  height: auto;
  width: auto;
  top: 50px;
  left: 120px;
  transform: rotate(-20deg);
}

.header {
  background-color: black;
  color: pink;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}

.instructions {
  background-color: black;
  color: pink;
  text-align: center;
  height: auto;
}

.crystal-container {
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.crystal-container img {
  background-color: black;
  height: 100%;
}

.crystals {
  height: 100%;
  width: auto;
}

.crystals:hover img {
  border: 3px solid pink;
  border-radius: 50%;
}

.point-wrapper {
  display: flex;
  background-color: black ;
  color: pink;
  font-size: 20 px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.game-total,
.player-total {
  display: flex;
  align-items: center;
}
